#certificate {
  position: relative;
  padding-top: 56.25%;
  margin: auto;
}

#certificate::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}

.certificate__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 5px solid #f2bc6b;
  border-radius: 10px;
  background-image: url("../images/background.svg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5vh 5vh;
}

.certificate__wrapper .top-part {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  position: relative;
}

#certificate img.ribbon {
  position: absolute;
  top: 0;
  right: 5vw;
  width: 20vw;
  height: 50%;
  z-index: 2;
}

.certificate__wrapper p {
  font-size: 2.1vw;
}

.certificate__wrapper h2 {
  font-size: 2.7vw;
}

@media (min-width: 900px) {
  .certificate__wrapper p {
    font-size: 14px;
  }

  .certificate__wrapper h2 {
    font-size: 24px;
  }

  #certificate img.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    height: 50%;
    z-index: 2;
  }

  .signature img {
    width: 10px;
  }
}

.certificate__wrapper .bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.certificate__wrapper .bottom-part .signature img {
  width: 20vw;
  max-width: 200px;
}

.certificate__wrapper .bottom-part .issue-date {
  width: 30%;
}
