* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  color: #3f3f3f;
}

#certificate {
  position: relative;
  padding-top: 56.25%;
  margin: auto;
}

#certificate::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}

.certificate__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 5px solid #f2bc6b;
  border-radius: 10px;
  background-image: url("../images/background.svg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vw 5vw;
}

.certificate__wrapper .top-part {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  position: relative;
}

#certificate img.ribbon {
  position: absolute;
  top: 0;
  right: 5vw;
  width: 20vw;
  height: 50%;
  z-index: 2;
}

#certificate img.cup-image {
  position: absolute;
  top: 25%;
  right: 11vw;
  z-index: 3;

  width: 8vw;
  height: 8vw;
}

.certificate__wrapper p,
.certificate__wrapper h2 {
  margin: 0;
}

.certificate__wrapper p {
  font-size: 2vw;
}

.certificate__wrapper h2 {
  font-size: 2.7vw;
}

@media (min-width: 900px) {
  .certificate__wrapper p {
    font-size: 14px;
  }

  .certificate__wrapper h2 {
    font-size: 24px;
  }

  #certificate img.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    height: 50%;
    z-index: 2;
  }

  .signature img {
    width: 10px;
  }
}

.certificate__wrapper .bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.certificate__wrapper .bottom-part .signature img {
  width: 20vw;
  max-width: 200px;
}

.certificate__wrapper .bottom-part .unique-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1vw;
  width: 40%;
}
