* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  color: #3f3f3f;
}

body {
  background-color: #f5f1e6;
  min-height: 100%;
}

.header {
  width: min(90%, 1200px);
  height: 85px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-weight: bold;
  height: fit-content;
}

.main {
  width: min(95%, 800px);
  min-height: calc(100vh - 230px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: auto;
}

iframe {
  width: 100%;
  border: none;
  margin: 0 auto;
}

.button-group {
  width: 220px;
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.button-group button {
  width: 50px;
  height: 50px;
  background: none;
  border: 1px solid #3f3f3f;
  border-radius: 50px;
  color: #3f3f3f;
  font-size: 18px;
  cursor: pointer;
}

.button-group button img {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.footer {
  width: min(90%, 1200px);
  height: 30px;
  margin: 50px auto 0;
  border-top: 1px solid #3f3f3f;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
